body, html {
    width: 100%;
    background-color: rgba(40, 44, 52, 1);
    margin-bottom: 70px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
button {
    border: none;
    background-color: transparent;
}
label {
    margin-bottom: 0;
}
.banner-img {
    width: 100%;
}
.search_bar {
    padding: 8px;
}
.fixed_sec {
    position: fixed;
    z-index: 4;
    width: 100%;
}
#search_icon {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size:20px;
}
#plus_icon {
    position: absolute;
    right: 10px;
    top: 0.5px;
    font-size:30px;
}
.search_input {
    width: 87%;
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
    font-size: 16.5px;
    padding-left: 30px;
}

.modal-dialog .modal-content {
    background-color: rgba(42, 43, 46, 1);
    border: none;
}
.modal-header, .modal-body, .modal-footer {
    border: none;
}
.modal-header .close {
    color: white;
}
.modal-body {
    padding-bottom: 0;
}
.modal-footer {
    padding-top: 0;
}
#post_title, #post_body{
    background-color: transparent;
    border: none;
    color: white;
}
#post_title {
    font-size: 16px;
    font-weight: bold;
}
#post_body {
    font-size: 14px;
}
.textFormGroup {
    border: 1px solid white;
    border-radius: 5px;
}
.modal-footer button, input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    border: 1px solid white;
}
.dismissBtn {

}
.confirmBtn {
    color: rgb(97,185,127);
    border: 1px solid rgb(97,185,127);
    background-color: transparent;
}
#category {
    padding-top: 10px;
    padding-bottom: 10px;
}
.category_btn {
    width: 18%;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    font-size: 12px;
}
.post {
    background-color: rgba(255,255,255, 0.2);
    margin-bottom: 10px;
}
.post_user {
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
}
.post_user img {
    height: 47px;
    margin-right: 5px;
    border-radius: 100%;
}

.img-wrap{
    // display: inline;
    // width: 30%; /* 这里设置占屏幕宽度百分比 */
    margin: 0;
    padding-right: 10px;
    padding-left: 0;
    padding-bottom: 10px;
}

/* 创建一个正方形容器 */
.img-container{

    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    overflow:hidden;
    margin: 0;
    position:relative;
}

/* 采用绝对定位 */
.img-wrap img{
    position:absolute;
    width: 100%;
    height: 100%;
}

.post_content p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post_btn p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
.post_btn i {
    font-size: 20px;
}
#noposts_board {
    padding: 30px;
    background-color: rgba(255,255,255,0.1);
}
#noposts_text {
    margin: 0;
    font-size: 18px;
}
#tab_bar {
    z-index: 5;
    border-radius: 18px;
    background-color: transparent;
    border: none;
    width: 95%;
    padding-top: 3px;
}
.tab_btn {
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: white;
    text-align: center;
}
.tab_btn img {
    height: 30px;
}
#tab_bar_blur{
    z-index: 4;
    border-radius: 18px;
    background-color: rgba(255,255,255, 0.2);
    border: none;
    width: 95%;
    padding-top: 3px;
}
.blur {
    -webkit-backdrop-filter: blur(15px); /* Safari for macOS & iOS*/
	backdrop-filter: blur(15px); /* Google Chrome */
	background: rgba(40, 44, 52, 0.8); /* 设置背景半透明黑色 */
}
