body, html {
    width: 100%;
    background-color: rgba(40, 44, 52, 1);
    margin-bottom: 70px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
button {
    border: none;
    background-color: transparent;
}
label {
    margin-bottom: 0;
}
.banner-img {
    width: 100%;
}
.search_bar {
    padding: 8px;
}
.fixed_sec {
    position: fixed;
    z-index: 4;
    width: 100%;
}
#search_icon {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size:20px;
}
#plus_icon {
    position: absolute;
    right: 10px;
    top: 0.5px;
    font-size:30px;
}
.search_input {
    width: 87%;
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
    font-size: 16.5px;
    padding-left: 30px;
}
#category {
    padding-top: 10px;
    padding-bottom: 10px;
}
.category_btn {
    width: 18%;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    font-size: 12px;
}
.post {
    background-color: rgba(255,255,255, 0.2);
    margin-bottom: 10px;
}
.post_user {
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
}
.post_user img {
    height: 47px;
    margin-right: 5px;
    border-radius: 100%;
}
.post_content img {
    width: 30%;
}
.post_content p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post_btn p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
.post_btn i {
    font-size: 20px;
}
#tab_bar {
    z-index: 5;
    border-radius: 18px;
    background-color: transparent;
    border: none;
    width: 95%;
    padding-top: 3px;
}
.tab_btn {
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: white;
    text-align: center;
}
.tab_btn img {
    height: 30px;
}
#tab_bar_blur{
    z-index: 4;
    border-radius: 18px;
    background-color: rgba(255,255,255, 0.2);
    border: none;
    width: 95%;
    padding-top: 3px;
}
.blur {
    -webkit-backdrop-filter: blur(15px); /* Safari for macOS & iOS*/
	backdrop-filter: blur(15px); /* Google Chrome */
	background: rgba(40, 44, 52, 0.8); /* 设置背景半透明黑色 */
}
